description = "Default layout"
==
<!DOCTYPE html>
<html lang="en">
    {% partial "meta" %}

<body id="home" class="homepage">

<header id="header">
    {% partial "nav" %}
</header><!--/header-->

<section id="main-slider">
    {% partial "slides" %}
</section><!--/#main-slider-->

<section id="cta" class="wow fadeIn" style="padding: 0; margin: 0;">
    {% content 'cta.htm' %}
</section><!--/#cta-->

<section id="cta2">
    <div class="container">
        <div class="row">
            {% partial "cta" %}    
        </div>
    </div>
</section>

<section id="about">
    {% partial "about" %}
</section><!--/#about-->


<section id="services" >
    {% partial "services" %}
</section><!--/#services-->

<section id="portfolio">
    {% partial "portfolio" %}
</section><!--/#portfolio-->

<section id="blog">
    {% partial "news" %}
</section><!--/#blog-->

<section id="map">
    <div class="text-center">
        <h2>Схема проезда и контакты</h2>
    </div>
    {% partial "map" %}
</section>

<footer id="footer">
    {% partial "footer" %}
</footer><!--/#footer-->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/owl.carousel.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/mousescroll.js'|theme }}"></script>
<!--     <script type="text/javascript" src="{{ 'assets/js/smoothscroll.js'|theme }}"></script>
 -->    <script type="text/javascript" src="{{ 'assets/js/jquery.prettyPhoto.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/jquery.isotope.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/jquery.inview.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/wow.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/main.js'|theme }}"></script>
{% framework extras %}
{% scripts %}

</body>
</html>
