 <div class="container">

    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">О нас</h2>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="col-sm-6 wow fadeInLeft">
                {% content 'about/video3.htm' %}
            </div>

            <div class="col-sm-6 wow fadeInRight">
                {% content 'about/capabilities3.htm' %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="col-sm-6 wow fadeInLeft">
                {% content 'about/capabilities4.htm' %}
            </div>

            <div class="col-sm-6 wow fadeInRight">
                {% content 'about/video4.htm' %}
            </div>
        </div>
    </div>
