                <h2 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms"><span style="color:#b945d6;">BeautyAndSpa</span> это нечто, необычное, не просто салон, а целая личная команда мастеров!</h2>
                <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">Это прежде всего сервис, который заботится о Вашем теле, все проблемы перестанут быть ими после первого сеанса!</p>
                <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
	                <center>
	                	<a class="btn btn-primary btn-lg" data-toggle="modal"  href="#callToAction">Заказать звонок?</a>
	                </center>
                </p>
                <img class="img-responsive wow fadeIn" src="{{ 'assets/images/cta2/cta2-img.png'|theme }}" alt="" data-wow-duration="300ms" data-wow-delay="300ms">

				<div class="control-popup modal fade" id="callToAction" tabindex="-1" role="dialog">
				    <div class="modal-dialog">
				        <div class="modal-content">
				            <div class="modal-header">
				                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				                <h4 class="modal-title">Хотите чтобы, мы Вам перезвонили?</h4>
				            </div>
			                <form data-request="onEmailSend" data-request-update="'result': '#result'">
					            <div class="modal-body">
					            	<div class="form-group">
					                	<input type="text" name="name" class="form-control" required placeholder="Ваше имя"/>
					                </div>
					                <div class="form-group">
					                	<input type="text" name="phoneNum" class="form-control" required placeholder="Ваш номер телефона"/>
					                </div>
					                	<div id="result">{{ result }}</div>
					            </div>
					            <div class="modal-footer">
					                <button type="button" class="btn btn-warning" data-dismiss="modal">Отменить</button>
					                <button type="submit" class="btn btn-primary">Отправить</button>
					            </div>
				            </form>
				        </div>
				    </div>
				</div>
