<div class="container">
    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Наши странички</h2>
    </div>
    <div class="row">
	    <div class="col-sm-6">
	    	<!-- InstaWidget -->
			<a href="https://instagram.com/beautyandspa_uralsk" id="link-e0ef1e075b7a7739982bdf9c197f5e45663d887c532b52e38abf3052e0f2e674">@beautyandspa_uralsk</a>
			<script src="https://instawidget.net/js/instawidget.js?u=e0ef1e075b7a7739982bdf9c197f5e45663d887c532b52e38abf3052e0f2e674&width=450px"></script>
	    </div>
	    <div class="col-sm-6">
	    	<script type="text/javascript" src="//vk.com/js/api/openapi.js?139"></script>

			<!-- VK Widget -->
			<div id="vk_groups"></div>
			<script type="text/javascript">
			VK.Widgets.Group("vk_groups", {mode: 3, width: "450"}, 138420046);
			</script>
	    </div>
    </div>
</div>
