        <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{url('/')}}"><img src="{{ 'assets/images/logo.png'|theme }}" alt="logo" id="logo"/></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="scroll active"><a href="{{url('/')}}">Главная</a></li>
                        <li><a href="{{url('uslugi')}}">Услуги</a></li>
                        <li><a href="{{url('otzyvy')}}">Отзывы</a></li>
                        <li class="scroll"><a href="{{url('/')}}#portfolio">Сертификаты</a></li>
                        <li class="scroll"><a href="{{url('/')}}#map">Контакты</a></li>
                        <li><a href="{{url('beautyspa')}}"><strong>Beauty&Spa</strong></a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
