<div class="container">
    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Статьи</h2>
        <p class="text-center wow fadeInDown">Список последних статьей</p>
    </div>

    <div class="row">
        {% if news.getBignews %}
        <div class="col-sm-6">
          <div class="blog-post blog-large wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="0ms">
                <article>
                  <header class="entry-header">
                      <div class="entry-thumbnail">
                          <img class="img-responsive" src="{{ news.getBigNews.attachments[0].path }}" alt="">
                      </div>
                      <div class="entry-date">{{ news.getBigNews.created_at | date('j F Y') }}</div>
                      <h2 class="entry-title"><a href="{{url('article',news.getBignews.slug)}}">{{ news.getBigNews.title }}</a></h2>
                  </header>

                  <div class="entry-content">
                      <P>{{ str_limit(news.getBigNews.description, 20) |raw }}</P>
                      <a class="btn btn-primary" href="{{url('article',news.getBignews.slug)}}">Читать далее</a>
                  </div>
                </article>
            </div>
          </div>
         {% endif %}
          <div class="col-sm-6">
          {% for item in news.getNews %} <!--Вызывем метод getPosts в нашем компоненте и проходимся циклом по полученынм запиям!-->
          {% if loop.first %}
          <!-- НИЧЕГО -->
          {% else %}
            <div class="blog-post blog-media wow fadeInRight" data-wow-duration="300ms" data-wow-delay="0ms">
                <article class="media clearfix">
                  <header class="entry-header">
                      <div class="entry-thumbnail">
                          <img class="img-responsive" src="{{ item.attachments[0].path }}" alt="">
                      </div>
                      <div class="entry-date">{{ item.created_at |date('j F Y') }}</div>
                      <h2 class="entry-title"><a href="{{url('article',item.slug)}}">{{ item.title }}</a></h2>
                  </header>

                  <div class="entry-content">
                      <P>{{ str_limit(item.description, 10)|raw }}</P>
                      <a class="btn btn-primary" href="{{url('article',item.slug)}}">Читать далее</a>
                  </div>
                </article>
            </div>
      {% endif %}
      {% endfor %}
      </div>
    </div>
</div>