        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Лицензии и сертификаты</h2>
                <p class="text-center wow fadeInDown">Мы работаем на рынке красоты не первый год и имеем список достижении и подтверждении навыков.</p>
            </div>

            <div class="portfolio-items">
              {% for key, cert in certs %}
              <div class="portfolio-item">
                  <div class="portfolio-item-inner">
                      <img class="img-responsive" src="{{cert}}" alt="" style="height:350px;">
                      <div class="portfolio-info">
                          <h3>Сертификат {{key+1}}</h3>
                          <a class="preview" href="{{cert}}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                      </div>
                  </div>
              </div><!--/.portfolio-item-->
              {% endfor %}
            </div>
        </div><!--/.container-->
