
    <div class="owl-carousel">
            {% for image in slider.getSlider %}
            <div class="item" style="background-image: url({{image.attachments.path}});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2>{{image.title}}</h2>
                                    <p>{{image.description | raw}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            {% endfor %}
            <div class="item" style="background-image: url('/storage/app/media/slide1.jpg'); background-position: 50% 40% !important;">
                <a target="_blank" href="/beautyspa">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content" style="color: #45aed6 !important;">
                                    <h2 style="color: #45aed6 !important;">Beauty&Spa </h2>
                                    <p>Салон красоты и гармонии</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div><!--/.item-->
        </div><!--/.owl-carousel-->