
    <div class="owl-carousel">
            {% for image in slider.getSlider %}
            <div class="item" style="background-image: url({{image.attachments.path}});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2>{{image.title}}</h2>
                                    <p>{{image.description | raw}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            {% endfor %}
        </div><!--/.owl-carousel-->