        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Наши мастера</h2>
                <p class="text-center wow fadeInDown">Наши мастера помогут Вам достичь немысленных результатов за кратчайшие сроки!</p>
            </div>

            <div class="row">
                {% for key, item in team.getTeam %}
                    <div class="col-sm-6 col-md-3">
                        <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                            <div class="team-img">
                                <img class="img-responsive" src="{{ item.attachments.path }}" alt="">
                            </div>
                            <div class="team-info">
                                <h3>{{item.name}}</h3>
                                <span>{{item.position}}</span>
                            </div>
                            {{item.description | raw}}
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
