<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="/storage/app/media/videos/Sugar.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="/storage/app/media/videos/Sugar.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="/storage/app/media/videos/Sugar.jpg" alt="">
        </div>
        <div class="poster-caption">
            <a href="#cta"><h2>Что внизу?</h2></a>
        </div>
    </div>
</div>
